.projects {
  align-items: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0 30px;
  width: 100vw;
}

.carousel {
  width: 100vw;
}

/* .project-container {
  border: 0.5px solid white;
  display: flex;
  height: 75vh;
  width: 90%;
  overflow-y: scroll;
} */
